.bannerWrap {
  width: 100%;
  height: 600px;
  background: red;
  border-radius: var(--border-radius);
  margin: 0 auto;
}
.listSlideWrap {
  margin-top: 80px;
  .listSlide {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    li {
      width: 305px;
      border-radius: var(--border-radius);
      height: 105px;
      text-align: center;
      line-height: 105px;
      font-size: 30px;
      font-weight: 700;
      background-color: #262626;
      background-image: linear-gradient(180deg, rgba(38, 38, 38, 0), #191919);
    }
  }
}
