#footer {
  width: 95%;
  margin: 0 auto;
  position: relative;
  margin-top: 80px;
  border-top: 1px solid rgb(110, 110, 110);
  padding-bottom: 80px;
  color: rgb(163, 163, 163);
  font-size: 14px;
  line-height: 1.7;
  .footer-util {
    display: flex;
    padding: 30px 0;
    justify-content: space-between;
    align-items: center;
    ul {
      display: flex;
      gap: 20px;
      li {
        font-size: 20px;
      }
    }
    .familyList {
      font-size: 20px;
      gap: 20px;
      span {
        position: relative;
        &:first-child {
          &:after {
            content: "";
            width: 1.5px;
            height: 50%;
            background: rgb(110, 110, 110);
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: -10px;
          }
        }
      }
    }
  }
  .copyright {
    padding-top: 30px;
  }
}
