#header {
  min-height: 80px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  position: sticky;
  top: 0;
  color: #fff;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(30px);
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
  .gnbWrap {
    display: flex;
    align-items: center;
    .logo {
      margin-right: 30px;
      font-size: 30px;
      img {
        width: 158px;
      }
    }
    .gnb {
      display: flex;
      list-style: none;
      gap: 0 30px;
      li {
        font-size: 20px;
        font-weight: 300;
        color: #fff;
        a {
          font-size: 20px;
          font-weight: 300;
          color: #fff;
        }
      }
    }
  }
  .myMenuWrap {
    display: flex;
    align-items: center;
    gap: 0 20px;
    .mypageLogo {
      img {
        width: 35px;
        height: 35px;
      }
    }
  }
}
.dFlexCenter {
  display: flex;
  align-items: center;
}
.dFlex {
  display: flex;
}
